<div class="contact-container">
  <h1>Contato</h1>
  <div class="contact-content">
    <div class="contact-info">
      <div class="contact-item">
        <i class="fas fa-map-marker-alt"></i>
        <p>Paulista, Pernambuco</p>
      </div>
      <div class="contact-item">
        <i class="fas fa-phone"></i>
        <p>(81) 9.9668.7008</p>
      </div>
      <div class="contact-item">
        <i class="fas fa-envelope"></i>
        <p>cleyton.alves.a&#64;gmail.com</p>
      </div>
      <div class="contact-item">
        <i class="fab fa-linkedin"></i>
        <a href="https://www.linkedin.com/in/cleyton-alves" target="_blank">/Cleyton-Alves</a>
      </div>
      <div class="contact-item">
        <i class="fab fa-github"></i>
        <a href="https://github.com/CleytonAlves07" target="_blank">/CleytonAlves07</a>
      </div>
    </div>
  </div>
</div>
